<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/nav.ejs') %>
<body>

    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium deleniti</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium deleniti </p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium deleniti</p>

    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>